<% set_meta_tags title: "怖い文書ジェネレータ",
                 description: "怖い文書ジェネレータは血文字のようなフォントで書いた文章の画像を簡単に生成できるアプリケーションです。作った文書はシェアしたり、ダウンロードしたりできます。",
                 og: {
                   title: "怖い文書ジェネレータ",
                   description: "怖い文書ジェネレータは血文字のようなフォントで書いた文章の画像を簡単に生成できるアプリケーションです。作った文書はシェアしたり、ダウンロードしたりできます。",
                   image: ogp_images_url(text: @introduction)
                 }
%>
<div class="container mt-4">
  <section class="my-4">
    <div class="d-md-flex d-block justify-content-between align-items-center">
      <h2 class="display-4">
        怖い文書一覧
      </h2>
      <%= link_to "つくる", new_document_path, class: 'btn btn-black' %>
    </div>
    <% @documents.each do |document| %>
      <%= render "shared/components/document_list_item", document: document %>
    <% end %>
    <%= paginate @documents %>
  </section>
</div>
