<div class="container">
  <section class="my-4">
    <div class="d-md-flex d-block justify-content-between align-items-center mx-2 mb-2">
      <h2 class="display-4">ようじょぶんしょをつくる</h2>
      <%= link_to "いちらん", documents_path, class: 'btn btn-pink' %>
    </div>
    <%= render "form" %>
  </section>
</div>