<div class="container">
  <section class="my-4">
    <div class="d-md-flex d-block justify-content-between align-items-center mx-2 mb-2">
      <h2 class="display-4">怖い文書をつくる</h2>
      <%= link_to "一覧", documents_path, class: 'btn btn-black' %>
    </div>
    <%= render "form" %>
  </section>
</div>