<% set_meta_tags title: @document.name + "さんの怖い文書",
                 description: @document.content,
                 og: {
                   title: @document.name + "さんの怖い文書",
                   description: @document.content,
                   image: ogp_images_url(text: @document.content.gsub(/[ ]/,""))
                 }
%>

<div class="container mt-4">
  <section class="my-4">
    <img class="w-100 d-block" src="<%= ogp_images_url(text: @document.content) %>">
    <p class="font-size-sm text-right"><%= @document.name %>さんが作成</p>
    <div class="mt-3 pt-2 border-top border-primary d-flex justify-content-between">
      <div>
        <i class="fas fa-eye mr-1"></i>
        <%= number_with_delimiter(@page_views) %>
      </div>
      <%= render "shared/components/document_buttons", url: document_url(@document), title: @document.name + "さんのようじょぶんしょ", document: @document %>
    </div>
  </section>
</div>