<%= render "shared/components/hero_section" %>
<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">ようじょの書いたような文章を作成する</h5>
            <p>
              ようじょに戻りたいあなたも、ようじょになれなかったあなたも文章上はようじょになることができます。
              まだ世界にないコンテンツを解き放ちましょう。
            </p>
            <%= link_to "さくせいする", new_document_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">他の人のようじょぶんしょをみる</h5>
            <p>
              他のようじょぶんしょを見ることであなたは童心に帰ることができ、
              その癒しのパワーによって普段の生産性が何倍にもなるかもしれません。
              また気に入ったらTwitterでシェアもできます。
            </p>
            <%= link_to "ようじょぶんしょいちらん", documents_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">画像を保存する</h5>
            <p>
              あなたや他の人が作ったようじょぶんしょは保存することができます。<br>
              保存方法はシェアボタンの横のダウンロードボタンを押すだけ。
            </p>
            <%= link_to "ぶんしょいちらんから保存する", documents_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">フォントについて</h5>
            <p>
              こちらはフリーフォントの<a href="https://tanukifont.com/yojo-font/">「ようじょふぉんと」</a>を使用しております。<br>
              素晴らしいフォントのおかげでこのサイトも生まれました。<br>
              ありがとうございます。
            </p>
            <a href="ttps://tanukifont.com/yojo-font/" class="text-info">フォントのページにいく</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="/argon/assets/img/ill/ill.png" width="100%">
      </div>
    </div>
  </div>
</div>