<%= render "shared/components/hero_section" %>
<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">怖い文章を作成する</h5>
            <p>
              普通の文章を書いても怖く見えるサイトができることでしょう。
              怖い文章を書いたら尚更怖く見えます。
            </p>
            <%= link_to "作成する", new_document_path, class: 'text-red' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">他の人の怖いぶんしょをみる</h5>
            <p>
              他の人が書いた怖い文章を見ることで、ぞわぞわして暑さも和らぐことでしょう。
              また気に入ったらTwitterでシェアもできます。
            </p>
            <%= link_to "怖い文書一覧", documents_path, class: 'text-red' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">画像を保存する</h5>
            <p>
              あなたや他の人が作った怖い文書は保存することができます。<br>
              保存方法はシェアボタンの横のダウンロードボタンを押すだけ。
            </p>
            <%= link_to "文書一覧から保存する", documents_path, class: 'text-red' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">フォントについて</h5>
            <p>
              こちらはフリーフォントの<a class="text-red" href="http://www.ankokukoubou.com/font/onryou.htm">「怨霊」</a>を使用しております。<br>
              素晴らしいフォントのおかげでこのサイトも生まれました。<br>
              ありがとうございます。
            </p>
            <a href="http://www.ankokukoubou.com/font/onryou.htm" class="text-red">フォントのページにいく</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="/argon/assets/img/ill/ill.png" width="100%">
      </div>
    </div>
  </div>
</div>